@import "tailwindcss";

@theme {
  --color-sparkle-red: #e6192e;
  --color-sparkle-black: #0a0a0a;
  --color-sparkle-white: #f5f5f5;
  
  --background-image-sparkle-gradient: linear-gradient(to bottom right, #0a0a0a, #e6192e, #0a0a0a);
}

body {
  background-color: var(--color-sparkle-black);
  color: var(--color-sparkle-white);
  font-family: Arial, Helvetica, sans-serif;
}